body {
    font: 18px/21px "Noto Serif", Times, serif;
    color: black;
}
section#main {
    margin: 0 auto;
    padding: 1em;
    width: 960px;
}
h1, h2, h3, h4, h5, h6 {
    font: 3.33em "Noto Sans Light", "Noto Sans", Arial, Helvetica, sans-serif;
    margin: 0.5em 0;
}
p + h1, p + h2, p + h3, p + h4, p + h5, p + h6,
table + h1, table + h2, table + h3, table + h4, table + h5, table + h6 {
    margin-top: 1.5em;
}
h2 {
    font-size: 2.67em;
}
h3 {
    font-size: 1.88em;
}
h4 {
    font-size: 1.33em;
}
h5 {
    font-size: 1.11em;
}
h6 {
    font-size: 1em;
}
code {
    background: rgba(0, 0, 0, 0.8) none;
    border-radius: 3px;
    color: white;
    font-family: "PT Mono", monospace;
    padding: 0.5em;
    margin: 0.5em 0;
}
em.code {
    color: #dc322f;
    font: normal 1em "PT Mono", monospace;
}
table {
    border-collapse: collapse;
    width: 100%;
}
tr {
    margin: 0;
}
tbody tr:nth-child(2n) {
    background: rgba(0, 0, 0, 0.03) none;
}
th, td {
    padding: 0.3em;
}
tbody tr:hover {
    background: rgba(0, 0, 0, 0.07) none;
}
thead {
    border-bottom: 2px solid rgba(0, 0, 0, 0.15);
    font: bold 1em "Noto Sans", Arial, Helvetica, sans-serif;
}
